<div class="each-message py-1 justify-content-end">
  <div class="" style="max-width: 77%;">
    <div class="message-body mr-2 speech-right">
      <%= @message.body %>
    </div>
    <p class="tiny-text lighter ml-3 mb-0"><%= @message.message_time %></p>
  </div>
  <%= cl_image_tag current_user.avatar_key, class: 'avatar-large' %>
</div>
