// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

h1, h2, h3, h4, h5 ,h6, p, a {
  color: #0E0000;
}

.grey {
  color: #969696;
}

.text-blue {
  color: #4E77B7;
}

.text-green {
  color: #87BABD;
}

.text-light-blue {
  color: #B8C9E2;
}

.text-peach {
  color: #F59E81;
}

.text-yellow {
  color: #FFE19C;
}

.background-blue {
  background-color: #4E77B7;
}

.background-green {
  background-color: #87BABD;
}

.background-light-blue {
  background-color: #B8C9E2;
}

.background-peach {
  background-color: #F59E81;
}

.background-yellow {
  background-color: #FFE19C;
}

.tabs-background-one {
  background-color: #6084BE;
}

.tabs-background-two {
  background-color: #7D9ACA;
}

.tabs-background-three {
  background-color: #9AB1D6;
}
