<% if policy(Career).create? %>
  <%= link_to new_career_path, class: 'add-new-button' do %>
    <%= image_tag 'add-new.png' %>
  <% end %>
<% end %>
<h1 class="boldest text-center" data-target="common.resourcesHeader">Careers</h1>
<h6 class="boldest text-center mb-4" data-target="common.resourcesHeader">Here is a list of many different Jobs and Projects.</h6>
<div class="resource-tabs" data-target="common.tabsHolder">
  <div class="background-light-blue front-end-tab resource-tab" data-action="click->common#switchTabs" data-type="jobs">
    <h6 class="boldest text-center m-0">Jobs</h6>
  </div>
  <div class="background-yellow back-end-tab resource-tab" data-action="click->common#switchTabs" data-type="projects">
    <h6 class="boldest text-center m-0">Projects</h6>
  </div>
</div>
<div class="resources-content" data-target="common.resourcesContent">
  <div class="background-light-blue front-end-container resource-active" data-target="common.resourceTabs" data-type="jobs">
    <div class="resources-container">
      <h2 class="resource-category boldest mb-3">Jobs</h2>
      <div class="row">
        <%= render 'careers_cards', careers: @jobs %>
      </div>
    </div>
  </div>
  <div class="background-yellow back-end-container" data-target="common.resourceTabs" data-type="projects">
    <div class="resources-container">
      <h2 class="resource-category boldest mb-3">Projects</h2>
      <div class="row">
        <%= render 'careers_cards', careers: @projects %>
      </div>
    </div>
  </div>
</div>
