<div class="container mt-5" style="display: flex; flex-direction: column;align-items: center;">
  <h1><%= @user.username ? @user.username : @user.full_name %></h1>
  <%= cl_image_tag @user.avatar.key, width: 50 %>
</div>
<h6 class="boldest m-0 text-center"><%= link_to "LOG OUT BITCH", destroy_user_session_path, method: :delete, class: "nav-link" %></h6>
