<% if @dark_mode %>
  <span class="white mr-1 tiny-text">L</span>
  <%= link_to toggle_dark_mode_path(dark_mode: false), remote: true, data: { action: "ajax:success->common#toggleDarkMode common->common#showLoader" } do %>
    <div class="switch switch-dark" data-target="common.switch">
      <div class="toggle toggle-dark"></div>
    </div>
  <% end %>
  <span class="white ml-1 tiny-text">D</span>
<% else %>
  <span class="mr-1 tiny-text">L</span>
  <%= link_to toggle_dark_mode_path(dark_mode: true), remote: true, data: { action: "ajax:success->common#toggleDarkMode common->common#showLoader" } do %>
    <div class="switch switch-normal" data-target="common.switch">
      <div class="toggle toggle-normal"></div>
    </div>
  <% end %>
  <span class="ml-1 tiny-text">D</span>
<% end %>
