<% if notice %>
  <div class="alert alert-info alert-dismissible fade show m-0 p-0" role="alert" data-controller="flashes" data-target="flashes.flash">
    <p class="text-center m-0 boldest small-text"><%= notice %></p>
  </div>
<% end %>

<% if alert %>
  <div class="alert alert-info alert-dismissible fade show m-0 p-0" role="alert" data-controller="flashes" data-target="flashes.flash">
    <p class="text-center m-0 boldest small-text"><%= alert %></p>
  </div>
<% end %>

<% if success %>
  <div class="alert bg-success alert-dismissible fade show m-0 p-0" role="alert" data-controller="flashes" data-target="flashes.flash">
    <p class="text-center m-0 boldest small-text white"><%= success %></p>
  </div>
<% end %>

<% if danger %>
  <div class="alert bg-danger alert-dismissible fade show m-0 p-0" role="alert" data-controller="flashes" data-target="flashes.flash">
    <p class="text-center m-0 boldest small-text white"><%= danger %></p>
  </div>
<% end %>
