<div class="footer">
  <div id="footer-logos">
    <%= image_tag 'le-wagon-logo.png', class: 'bottom' %>
    <%= image_tag 'logo.png', class: 'top' %>
  </div>
  <h5 class="boldest m-0">For the alumni... Made by alumni</h5>
</div>
