<div class="home-wrapper">
  <h1>Hiiiiiii</h1>

  <% if @first_visit %>
    <%= link_to seen_pwa_path, remote: true, style: "cursor: default" do %>
      <div class="pwa-underlay" data-target="common.pwaUnderlay" data-action="click->common#hide">
      </div>
    <% end %>
    <div class="pwa-popup" data-target="common.pwaPopup">
      <h3 class="boldest text-center m-0">I'm a Progressive Web App!</h3>
      <%= image_tag 'pwa-icon.png', class: 'pwa-icon' %>
      <h4 class="boldest text-center">This means that on your mobile phone you can go to <span style="color: #4d76b7;">options</span>, click <span style="color: #4d76b7;">add me to home screen</span> and open me like a mobile app... C'est super!</h4>
      <%= link_to seen_pwa_path, remote: true, class: 'my-3 no-decoration' do %>
        <div class="primary-button pwa-popup-button" data-target="common.pwaButton" data-action="click->common#hide">
          Got it
        </div>
      <% end %>
    </div>
  <% end %>
</div>
