.alert {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 0;
  top: 92px;
  left: 0;
  overflow: hidden;
  border: none !important;
  border-radius: 0 !important;
  display: none;
  @include absCenter;
  @include for-phone-only {
    top: 66px;
  }
}

@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    // .alert {
    //   bottom: 90px;
    // }
}

@media only screen
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    // .alert {
    //   bottom: 90px;
    // }
}

@media only screen
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    // .alert {
    //   bottom: 90px;
    // }
}
