.avatar {
  object-fit: cover;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.avatar-large {
  object-fit: cover;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  flex-shrink: 0;
}

.avatar-xlarge {
  object-fit: cover;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.avatar-bordered {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.avatar-square {
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-sm {
  object-fit: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.avatar-mini {
  object-fit: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
}

.avatar-mini-bordered {
  border: 2px solid #FFFFFF;
}

.dark-mode {
  .avatar-mini-bordered {
    border: 2px solid #151515;
  }
}

.avatar-mini-default {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background: #000000;
  color: $lime;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
}





