.primary-button {
  display: inline-block;
  padding: 12px 24px;
  background: -webkit-linear-gradient(#363636, #000000);
  background: -o-linear-gradient(#363636, #000000);
  background: linear-gradient(#363636, #000000);
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  color: $lime;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.3s ease;
  &:hover {
    color: $lime;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.4);
  }
}

.secondary-button {
  display: inline-block;
  padding: 12px 24px;
  background: #151515;
  border: 2px solid $lime;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0,0,0,0.2);
  color: $lime;
  font-weight: bold;
  transition: all 0.3s ease;
  &:hover {
    color: $lime;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.4);
  }
}

.pwa-popup-button {
  box-shadow: none;
}

.outline-button {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  &:hover {
    text-decoration: none;
  }
}

.dark-mode {
  .primary-button {
    display: inline-block;
    padding: 12px 24px;
    background: -webkit-linear-gradient(#7b7b7b, #3e3e3e);
    background: -o-linear-gradient(#7b7b7b, #3e3e3e);
    background: linear-gradient(#7b7b7b, #3e3e3e);
    border: none;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    color: $lime;
    border-radius: 5px;
    font-weight: bold;
    transition: all 0.3s ease;
    &:hover {
      color: $lime;
      box-shadow: 2px 4px 10px rgba(0,0,0,0.4);
    }
  }
}
