.navbar-lewagon {
  max-width: 1440px;
  margin: 0 auto;
  i {
    font-size: 26px;
    color: #4E77B7;
  }
}

.navbar-container {
  @include absCenter;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-spacer {
  height: 92px;
  @include for-phone-only {
    height: 66px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-weight: 900;
}

.logo {
  height: 60px;
  margin-right: 6px;
  @include for-phone-only {
    height: 40px;
  }
}

.logo-signed-in {
  height: 60px;
  @include for-phone-only {
    height: 40px;
  }
}

.logo-text {
  font-size: 26px;
  font-family: 'Fredoka One', cursive;
  letter-spacing: -1px;
  @include for-phone-only {
    font-size: 18px;
  }
}

.new-post-mobile img {
  height: 25px;
  width: 25px;
}

.nav-link {
  display: inline-flex;
  align-items: center;
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: start;
  @include for-phone-only {
    flex-direction: column;
    align-items: flex-start;
  }
}

.hamburger {
  margin: 6px 2.5px;
  @include absCenterColumn;
}

.navbar-toggler {
  height: 40px;
  width: 56px;
}

.hamburger-stick {
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background: #8A8A8A;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.ham-one {
  margin-bottom: 6px;
}

.ham-three {
  margin-top: 6px;
}

.hamburger-cross {
  .ham-one {
    transform: rotate(45deg);
    margin-bottom: -8px
  }

  .ham-two {
    position: absolute;
    width: 0;
    opacity: 0;
  }

  .ham-three {
    transform: rotate(-45deg);
  }
}

.pwa-opacity {
  opacity: 0.05;
  pointer-events: none;
}

.batch-bar {
  // height: 30px;
}

.notification-icon {
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
  background: #fd1015;
  color: #FFF;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  @include absCenter;
}

.switch {
  height: 20px;
  width: 30px;
  border-radius: 15px;
  background-color: #282828;
  border: 3px solid #282828;
  position: relative;
  transition: all 0.1s ease;
}

.toggle {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background-color: #FFFFFF;
  position: absolute;
  transition: all 0.1s ease;
}

.pwa-top-bar {
  .switch, .toggle {
    transition: all 0.3s ease;

  }
}

////////////////////////////////// PWA NAVBAR //////////////////////////////

.pwa-navbar-spacer {
  height: 60px;
  display: none;
}

.pwa-navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 4500;
  bottom: 0;
  background: #000000;
  border-top: 1px solid #404040;
  display: none;
  justify-content: space-between;
  align-items: center;
}

.pwa-top-bar {
  display: none;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding: 0 20px;
  position: fixed;
  z-index: 2500;
  top: 0;
  i {
    font-size: 26px;
    color: #4E77B7;
  }
}

.pwa-top-bar-spacer {
  height: 60px;
  display: none;
}

.pwa-navbar-section {
  height: 100%;
  flex: 1;
  @include absCenterColumn;
}

.pwa-navbar-icon {
  height: 20px;
}

.pwa-navbar-text {
  font-size: 10px;
  font-weight: bold;
  margin: 2px 0 0 0;
  color: #FFF;
}

.pwa-active {
  color: #4E77B7;
}

.pwa-logo {
  height: 55px;
  @include for-phone-only {
    height: 40px;
  }
}

.pwa-logo-text {
  height: 26px;
  @include for-phone-only {
    height: 20px;
  }
}

@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pwa-navbar-spacer {
      height: 81px;
    }
    .pwa-navbar {
      height: 80px;
      padding-bottom: 20px;
    }
}

@media only screen
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pwa-navbar-spacer {
      height: 81px;
    }
    .pwa-navbar {
      height: 80px;
      padding-bottom: 20px;
    }
}

@media only screen
  and (device-width: 390px)
  and (device-height: 844px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pwa-navbar-spacer {
      height: 81px;
    }
    .pwa-navbar {
      height: 80px;
      padding-bottom: 20px;
    }
}

@media only screen
  and (device-width: 393px)
  and (device-height: 852px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pwa-navbar-spacer {
      height: 81px;
    }
    .pwa-navbar {
      height: 80px;
      padding-bottom: 20px;
    }
}

@media only screen
  and (device-width: 430px)
  and (device-height: 932px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pwa-navbar-spacer {
      height: 81px;
    }
    .pwa-navbar {
      height: 80px;
      padding-bottom: 20px;
    }
}

@media only screen
  and (device-width: 428px)
  and (device-height: 926px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pwa-navbar-spacer {
      height: 81px;
    }
    .pwa-navbar {
      height: 80px;
      padding-bottom: 20px;
    }
}



