.navbar-lewagon {
  background: white;
  max-width: 1140px;
  margin: 0 auto;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-weight: 900;
}

.logo {
  height: 55px;
  margin-right: 8px;
  @include for-phone-only {
    height: 40px;
  }
}

.logo-signed-in {
  height: 60px;
  @include for-phone-only {
    height: 40px;
  }
}

.logo-text {
  height: 26px;
  @include for-phone-only {
    height: 20px;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: #0E0000;
}

.nav-link {
  display: inline-block;
  font-weight: 900;
  font-family: 'Cera', sans-serif;
  color: #0E0000;
}

.hamburger {
  margin: 6px 2.5px;
  @include absCenterColumn;
}

.navbar-toggler {
  height: 40px;
  width: 56px;
}

.hamburger-stick {
  width: 24px;
  height: 2px;
  border-radius: 2px;
  background: #8A8A8A;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.ham-one {
  margin-bottom: 6px;
}

.ham-three {
  margin-top: 6px;
}

.hamburger-cross {
  .ham-one {
    transform: rotate(45deg);
    margin-bottom: -8px
  }

  .ham-two {
    position: absolute;
    width: 0;
    opacity: 0;
  }

  .ham-three {
    transform: rotate(-45deg);
  }
}

.pwa-opacity {
  opacity: 0.05;
  pointer-events: none;
}

.batch-bar {
  // height: 30px;
}

////////////////////////////////// PWA NAVBAR //////////////////////////////

.pwa-navbar-spacer {
  height: 60px;
  display: none;
}

.pwa-navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 2500;
  bottom: 0;
  background: #051a40;
  border-top: 1px solid #575757;
  display: none;
  justify-content: space-between;
  align-items: center;

}

.pwa-top-bar {
  display: none;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 2500;
  top: 0;
  background: #FFF;
}

.pwa-top-bar-spacer {
  height: 60px;
  display: none;

}

.pwa-navbar-section {
  height: 100%;
  flex: 1;
  @include absCenterColumn;
}

.pwa-navbar-icon {
  height: 20px;
}

.pwa-navbar-text {
  font-size: 10px;
  font-weight: bold;
  margin: 2px 0 0 0;
  color: #FFF;
}

.pwa-active {
  color: #4E77B7;
}

.pwa-logo {
  height: 55px;
  margin-right: 8px;
  @include for-phone-only {
    height: 40px;
  }
}

.pwa-logo-text {
  height: 26px;
  @include for-phone-only {
    height: 20px;
  }
}

@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pwa-navbar-spacer {
      height: 81px;
    }
    .pwa-navbar {
      height: 80px;
      padding-bottom: 20px;
    }
}

@media only screen
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pwa-navbar-spacer {
      height: 81px;
    }
    .pwa-navbar {
      height: 80px;
      padding-bottom: 20px;
    }
}

@media only screen
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .pwa-navbar-spacer {
      height: 81px;
    }
    .pwa-navbar {
      height: 80px;
      padding-bottom: 20px;
    }
}

// PWA NAVBAR
































