.user-show-avatar {
  width: 30%;
  @include absCenter;
  img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
    @include for-medium-devices-down {
      height: 150px;
      width: 150px;
    }
    @include for-phone-only {
      height: 100px;
      width: 100px;
    }
  }
}

.user-show-default-avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: $lime;
  font-weight: bold;
  font-size: 100px;
  flex-shrink: 0;
  @include for-medium-devices-down {
    height: 150px;
    width: 150px;
    font-size: 80px;
  }
  @include for-phone-only {
    font-size: 50px;
    height: 100px;
    width: 100px;
  }
}

.user-show-profile-info {
  width: 50%;
  p {
    margin: -4px 0 6px;
    font-weight: lighter;
  }
  @include for-small-devices-down {
    margin-left: 24px;
  }
}

.user-show-posts {
  // width: 100%;
  padding-top: 100%;
  position: relative;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  @include for-medium-devices-up {
    margin-bottom: 30px;
  }
}

.user-show-video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}

.user-show {
  @include for-medium-devices-down {
    .user-show-posts-container-two {
      margin: 0;
    }

  }
  @include for-small-devices-down {
    .user-show-posts-container {
      padding: 0;
    }
    .post-grid {
      padding: 0 !important;
    }
    .row {
      margin: 0 !important;
    }
  }
}

// ALL USERS

.user-all-default-avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 2px;
  border: 1px solid rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  color: $lime;
  font-weight: bold;
  font-size: 80px;
  flex-shrink: 0;
  @include for-medium-devices-down {
    height: 120px;
    width: 120px;
    font-size: 60px;
  }
  @include for-phone-only {
    font-size: 40px;
    height: 80px;
    width: 80px;
  }
}

.user-all {
  @include for-phone-only {
    h1 {
      font-size: 22px !important;
    }
    p {
      font-size: 14px !important;
      margin: 0 !important;
    }
  }
}
