.devise-wrapper {
  min-height: calc(100vh - 92px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-small-devices-down {
    min-height: calc(100vh - 66px);
  }
}

@media only screen
  and (device-width: 375px)
  and (device-height: 812px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .devise-wrapper {
      min-height: calc(100vh - 140px);
    }
}

@media only screen
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .devise-wrapper {
      min-height: calc(100vh - 140px);
    }
}

@media only screen
  and (device-width: 414px)
  and (device-height: 896px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .devise-wrapper {
      min-height: calc(100vh - 140px);
    }
}

.devise-container {
  min-height: 700px;
  width: 90%;
  max-width: 900px;
  margin: 50px auto;
  border-radius: 5px;
  display: flex;
  @include for-small-devices-down {
    flex-direction: column;
    min-height: auto;
    margin: 20px auto;

  }
}

.devise-form {
  width: 50%;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  @include for-small-devices-down {
    width: 90%;
    margin: 0 auto;
    padding: 32px 20px;
  }
}

.devise-image {
  width: 50%;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
  @include for-small-devices-down {
    display: none;
  }
}

.di-right {
  img {
    border-radius: 0 5px 5px 0;
  }
}

.di-left {
  img {
    border-radius: 5px 0 0 5px;
  }
}

#new_user {
  width: 90%;
}

.devise-input {
  height: 50px;
}

.devise-input::placeholder {
 color: #D1D1D1;
}

.devise-links {
  width: 90%;
}

.devise-form-title {
  margin-bottom: 48px;
  @include for-small-devices-down {
    margin-top: 0;
    margin-bottom: 48px;
  }
}

.github-link {
  @include absCenter;
  i {
    font-size: 34px;
  }
}

.devise-padding {
  margin: 0;
  @include for-small-devices-down {
    margin: 12px 0;
  }
}
